<div
  class="hero min-h-screen mb-7 sepia-30"
  style="background-image: url(https://res.cloudinary.com/dwvnu18ce/image/upload/v1753909022/momiji1_qhftgi.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-7xl font-bold">Bienvenue <i class="fa-solid fa-paper-plane"></i>
      <br>
      ようこそ </h1>
      <br>
      <p class="mb-5 text-4xl font-bold">
      Blog où les tips deviennent des trips !
      </p>
    </div>
  </div>
</div>

<div class="button ml-5 fade-in-element opacity-0 transition duration-500 ease-out">
  <% if policy(Post).create? %>
    <%= link_to "Nouvel Article", new_post_path, class: "btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6]" %>
  <% end %>
</div>

<h2 class="text-[#76818E] text-center font-bold text-4xl my-5 fade-in-element opacity-0 transition duration-500 ease-out">INTRODUCTION</h2>

<div class="flex justify-center items-center fade-in-element opacity-0 transition duration-500 ease-out">
  <div class="w-200 text-center">
    <p class="text-[#A3677F] pt-2 tracking-wide text-2xl leading-8">
    Passionnée du Japon depuis de nombreuses années, tout a commencé comme beaucoup avec les mangas et jeux vidéos.
    Suite à ça j'ai pris des cours pour apprendre la langue et à l'université j'en ai appris plus sur la civilisation passée et présente.
    <br><br>
    Mon premier voyage s'est fait en 2009 et j'en ai enchainé plusieurs depuis...
    Grâce à mes nombreux voyages j'ai appris un paquet de choses qui vous aideront à bien organiser votre premier séjour au pays du soleil levant !
    <br><br>
    Découvrez avec moi des petits tips pour organiser votre voyage entre transports, logements et restauration traditionnelle.
    <br><br>
    </p>
  </div>
</div>

<h2 class="text-[#76818E] text-center font-bold text-4xl my-5 fade-in-element opacity-0 transition duration-500 ease-out">ENCHANTEE !</h2>

<div class="flex justify-center items-center fade-in-element opacity-0 transition duration-500 ease-out">
  <div class="flex content-center items-center m-3">
    <img src="https://www.nautiljon.com/images/perso/00/44/arale_5744.webp?1591040435" alt="image arale site nautiljon" class="rounded-full w-50 h-50">
    <div class="w-200 text-center ">
      <p class="text-[#A3677F] pt-2 tracking-wide text-2xl leading-8">
      Je m'appelle Chahnez et en 16 ans j'ai effectué 7 voyages au Japon.
      Mon dernier s'est fait en septembre 2023 avec mon fils qui avait 1 an 1/2, donc premier voyage avec un bébé/toddler.
      <br>
      <br>
      Comme dit dans l'introduction plus haut, j'ai envie de partager mes trouvailles et mes bons plans car j'aurais aimé être guidée lors de mes premiers voyages.
      <br>
      <br>
          一緒に行きましょう / Allons y ensemble !!!
      </p>
    </div>
  </div>
</div>


<h2 class="text-[#76818E] text-center font-bold text-4xl my-5 fade-in-element opacity-0 transition duration-500 ease-out">LES POSTS</h2>

<div class="animation-container fade-in-element opacity-0 transition duration-500 ease-out">
  <svg class="wave-path-svg" viewBox="0 0 2000 200">
    <path id="flying-wave-path"
          d="M0,100 C100,50 150,150 200,100 S300,50 400,100 S500,150 600,100 S700,50 800,100
             S900,150 1000,100 S1100,50 1200,100 S1300,150 1400,100 S1500,50 1600,100 S1700,150 1800,100 S1900,50 2000,100" />
  </svg>
  <div class="plane" style="--animation-duration: 12s;">
    <i class="fa-solid fa-plane"></i>
  </div>
</div>

<div class="all">
<div class="grid grid-cols-2 gap-4 justify-items-center" data-controller="scroll-fade">
  <% @posts.last(2).each do |post| %>
  <div class="bg-[#EDDFC9] w-170 mx-auto py-5 px-3 transition delay-150 duration-300 ease-in-out scale-95 hover:scale-100 hover:bg-[#FFEBCC] fade-in-element opacity-0 ">
    <div class="photo">
      <%= link_to post_path(post) do %>
        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key, class: "p-[8px] h-[55vh] w-[100%] object-fill  mb-5 mx-auto" %>
        <% else %>
            <p>Aucune image attachée.</p>
        <% end %>
    </div>
    <div class="text-container p-3">
      <h2 class="text-[#76818E] text-3xl text-center font-bold card-title transition delay-150 duration-300 ease-in-out hover:text-[#8e5c6e]"><%= post.title %></h2>
      <p class="text-[#76818E] font-bold">Lieu : <%= post.location %></p>
      <p class="text-[#76818E] text-center font-bold pb-2"><i class="fa-regular fa-clock"></i> <%= post.published_at.strftime("%d/%m/%Y") %></p>
      <hr>
    </div>
    <% end %>
      <% if policy(post).update? %>
        <%= link_to 'Modifier', edit_post_path(post), class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-3" %>
      <% end %>
      <% if policy(post).destroy? %>
        <%= link_to 'Supprimer', post_path(post),
          class:"btn border-black hover:bg-[#DB504A] hover:text-[#EDDDD6] m-3",
          data: {
            turbo_method: :delete,
            turbo_confirm: 'Êtes-vous sûr de vouloir supprimer ce post ?'
          }
        %>
      <% end %>
  </div>
  <% end %>
</div>
<div class="flex justify-center">
  <%= link_to searches_path, class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-3 w-50 text-center" do %>
    <i class="fa-solid fa-arrow-right"></i> Voir tous les posts
  <% end %>
</div>
</div>
