<div
  class="hero min-h-screen mb-7"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Bienvenue <i class="fa-solid fa-paper-plane"></i> </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
  </div>
</div>

<div class="button ml-5">
  <% if policy(Post).create? %>
    <%= link_to "Nouvel Article", new_post_path, class: "btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6]" %>
  <% end %>
</div>

<h2 class="text-[#76818E] text-center font-bold text-4xl my-5 pb-5">Les articles</h2>
<div class="grid grid-cols-2 gap-6 justify-items-center">
  <% @posts.each do |post| %>
  <div class="bg-base-100 w-120 shadow-sm mx-auto py-5 px-3">
    <%= link_to post_path(post) do %>
      <% if post.photo.attached? %>
        <%= cl_image_tag post.photo.key, class: "rounded-2xl p-[8px] h-[30vh] object-cover mx-auto transition delay-150 duration-300 ease-in-out scale-95 hover:scale-100 hover:sepia-50" %>
      <% else %>
        <p>Aucune image attachée.</p>
      <% end %>
      <h2 class="text-[#76818E] text-center font-bold card-title transition delay-150 duration-300 ease-in-out hover:text-[#8e5c6e]"><%= post.title %></h2>
      <p class="text-[#76818E] font-bold">Lieu : <%= post.location %></p>
      <p class="text-[#76818E] text-center font-bold pb-2"><i class="fa-regular fa-clock"></i> <%= post.published_at.strftime("%d/%m/%Y") %></p>
      <hr>
      <p class="text-[#A3677F] pt-2"><%= truncate(post.content, length:150) %></p>
    <% end %>
      <% if policy(post).update? %>
        <%= link_to 'Modifier', edit_post_path(post), class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-3" %>
      <% end %>
      <% if policy(post).destroy? %>
        <%= link_to 'Supprimer', post_path(post), class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-3", data: { confirm: 'Êtes-vous sûr ?' }, method: :delete %>
      <% end %>
  </div>
  <% end %>
</div>
