<div
  class="hero min-h-screen mb-7 sepia-30"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Bienvenue <i class="fa-solid fa-paper-plane"></i>
      <br>
      ようこそ </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
  </div>
</div>

<div class="button ml-5">
  <% if policy(Post).create? %>
    <%= link_to "Nouvel Article", new_post_path, class: "btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6]" %>
  <% end %>
</div>

<h2 class="text-[#76818E] text-center font-bold text-4xl my-3">INTRODUCTION</h2>
<div class="flex justify-center items-center w-200 text-center">
  <p class="text-[#A3677F] pt-2 text-xl">
  Passionnée du Japon depuis de nombreuses années, tout a commencé comme beaucoup avec les mangas et jeux vidéos.
  Suite à ça j'ai pris des cours pour apprendre la langue et à l'université j'en ai appris plus sur la civilisation passée et présente.
  <br><br>
  Mon premier voyage s'est fait en 2009 et j'en ai enchainé plusieurs depuis...
  Grâce a mes nombreux voyages j'ai appris un paquet de choses qui vous aideront a bien organiser votre premier séjour au pays du soleil levant !
  <br><br>
  Découvrez avec moi des petits tips pour organiser votre voyage entre transports, logements et restauration traditionnelle (options Halal/Végé).
  <br><br>
  一緒に行きましょう / Allons y ensemble !!!
  </p>
</div>

<h2 class="text-[#76818E] text-center font-bold text-4xl my-3">LES POSTS</h2>

<div class="animation-container">
  <svg class="wave-path-svg" viewBox="0 0 2000 200">
    <path id="flying-wave-path"
          d="M0,100 C100,50 150,150 200,100 S300,50 400,100 S500,150 600,100 S700,50 800,100
             S900,150 1000,100 S1100,50 1200,100 S1300,150 1400,100 S1500,50 1600,100 S1700,150 1800,100 S1900,50 2000,100" />
  </svg>
  <div class="plane" style="--animation-duration: 12s;">
    <i class="fa-solid fa-plane"></i>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 justify-items-center">
  <% @posts.each do |post| %>
  <div class="bg-base-100 w-170 shadow-sm mx-auto py-5 px-3 transition delay-150 duration-300 ease-in-out scale-95 hover:scale-100 hover:sepia-25">
    <%= link_to post_path(post) do %>
      <% if post.photo.attached? %>
        <%= cl_image_tag post.photo.key, class: "rounded-2xl p-[8px] h-[30vh] object-cover mb-5 mx-auto" %>
      <% else %>
        <p>Aucune image attachée.</p>
      <% end %>
      <h2 class="text-[#76818E] text-center font-bold card-title transition delay-150 duration-300 ease-in-out hover:text-[#8e5c6e]"><%= post.title %></h2>
      <p class="text-[#76818E] font-bold">Lieu : <%= post.location %></p>
      <p class="text-[#76818E] text-center font-bold pb-2"><i class="fa-regular fa-clock"></i> <%= post.published_at.strftime("%d/%m/%Y") %></p>
      <hr>
      <p class="text-[#A3677F] pt-2"><%= truncate(post.content, length:150) %></p>
    <% end %>
      <% if policy(post).update? %>
        <%= link_to 'Modifier', edit_post_path(post), class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-3" %>
      <% end %>
      <% if policy(post).destroy? %>
        <%= link_to 'Supprimer', post_path(post), class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-3", data: { confirm: 'Êtes-vous sûr ?' }, method: :delete %>
      <% end %>
  </div>
  <% end %>
</div>
