<%= link_to 'Retour aux articles', posts_path, class:"btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6] m-5" %>
<h1 class="text-center text-4xl text-[#76818E] font-bold m-5">Créer un nouvel article de voyage</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "erreur") %> a empêché cet article d'être enregistré :</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="post text-xl p-25 mx-5 border border-[#fbe1eb] rounded-lg shadow-lg flex flex-col gap-5">
  <%= form_with(model: @post, local: true) do |form| %>
    <p>
      <%= form.label :title, "Titre de l'article", class: "label text-[#8e5c6e] my-3" %><br>
      <%= form.text_field :title, class: "input input-bordered input-lg w-full"  %>
    </p>

    <p>
      <%= form.label :location, "Lieu du voyage", class: "label text-[#8e5c6e] my-3" %><br>
      <%= form.text_field :location, class: "input input-bordered input-lg w-full"  %>
    </p>

    <p>
      <%= form.label :content, "Récit de votre aventure", class: "label text-[#8e5c6e] my-3" %><br>
      <%= form.text_area :content, rows: 10, class: "input input-bordered input-lg w-full"  %>
    </p>

<p>
  <%= form.label :photo, "Image de couverture", class: "label text-[#8e5c6e] my-3" %><br>
  <%= form.file_field :photo, class: "input input-bordered input-lg w-full" %>
</p>

    <p>
      <%= form.submit "Publier l'article", class:"mt-5 btn border-black hover:bg-[#8e5c6e] hover:text-[#EDDDD6]" %>
    </p>
  <% end %>
</div>
